<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ihr Gartenunterhalt ganz einfach!</h2>
                <hr class="light">
                <p class="text-faded">Hecken schneiden? Kiesweg jäten? Rosen einwintern? - Wir helfen Ihnen dabei! <br>
                Mit uns finden sie ganz einfach einen guten und preiswerten Gärtner. Mit Mapen erhalten sie verbindliche Offerten von qualifizerten Gärtnern aus der Region.   </p>
                <%= link_to "Offerte einholen", creatives_show_path, class: "btn btn-default btn-xl", :onclick => "goog_report_conversion('http://mapen.ch/creatives/show')" %>

            </div>
        </div>
    </div>
</section>

