<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontaktieren Sie uns bei Fragen!</h2>
                <hr class="primary">
                <p>Haben sie Fragen wie unser Service funktioniert? Dann wenden sie Sich gerne per Email an uns und wir melden uns inner 24h gerne bei Ihnen! </p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-envelope fa-3x wow bounceIn"></i>
                <p>Seilergraben 41, 8001 Zürich</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">fragen@mapen.ch</a></p>
            </div>
        </div>
    </div>
</section>

