<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Finde deinen Gärtner in deiner Region </h1>
            <hr>
            <p>Sie erhalten kostenlos 5 Offerten mit Fixpreisen.
Schnell, sicher und transparent.</p>
            <%= link_to "Offerte einholen", creatives_show_path, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
    </div>
</header>

